@import "reset.css";

:root {
  --font-size-xl: 40px;
  --font-size-lg: 24px;
  --font-size-m: 14px;
  --font-size-xs: 12px;

  --color-text-light: #ffffff;
  --color-text-dark: #617199;

  --body-background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #f0f4ff 0%, #a5b6ee 100%);
  --timer-background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  --timer-saperator-color: #3d538a;
  --timer-saperator-shadow: 0 1px 0 0 #5b75b4;

  --timer-indicator-title-text: #a5b6ee;

  --btn-disabled-background: #324577;
  --btn-start-background: #5180ff;
  --btn-reset-background: #15c2b8;
  --btn-pause-background: #fb7099;
}

body {
  background: var(--body-background);
  background-attachment: fixed; /* 그라디언트 뷰포트 꽉차게 */

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;

  color: var(--color-text-light);
}

h1 {
  margin-top: 72px;
  margin-bottom: 60px;
}

h1 .weniv-logo {
  display: block;
  margin: auto;
  width: 244px;
  height: 48px;
}

.timer {
  width: 400px;
  height: 360px;
  margin: auto;
  padding: 48px 58px 40px 58px;

  background: var(--timer-background);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
}

.timer-title {
  position: relative;
  display: block;
  text-align: center;
  font-size: var(--font-size-lg);
  line-height: 29px;
}
.timer-title::after {
  content: " ";
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  height: 1px;

  background: var(--timer-saperator-color);
  box-shadow: var(--timer-saperator-shadow);
}

.timer-indicator-wrapper {
  display: flex;
  justify-content: center;
  gap: 22px;
  width: 100%;
  margin-top: 57px;
}

.timer-indicator-title {
  display: block;
  text-align: center;
  margin-bottom: 4px;
  font-size: var(--font-size-xs);
  line-height: 14px;
  color: var(--timer-indicator-title-text);
}

.timer-input {
  width: 80px;
  height: 80px;

  font-size: var(--font-size-xl);
  line-height: 48px;
  text-align: center;

  background-image: url(../img/timer-box.png);
  color: var(--color-text-light);
}
.timer-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer-indicator {
  position: relative;
}
.timer-indicator:not(:last-child):after {
  content: " ";
  position: absolute;

  left: 88px;
  top: 44px;

  width: 6px;
  height: 26px;

  background: url(../img/dot.svg);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}

.timer-btn {
  position: relative;

  padding: 16px 23px 16px 44px;

  font-size: var(--font-size-m);
  line-height: 17px;

  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 50px;

  background-repeat: no-repeat;
  background-position: 23px center;
}

.timer-btn-start {
  background-color: var(--btn-start-background);
  background-image: url(../img/icon-start.svg);
}
.timer-btn-pause {
  background-color: var(--btn-pause-background);
  background-image: url(../img/icon-pause.svg);
}
.timer-btn-reset {
  background-color: var(--btn-reset-background);
  background-image: url(../img/icon-reset.svg);
}

.timer-btn-start.disabled {
  background-image: url(../img/icon-start-disabled.svg);
}
.timer-btn-reset.disabled {
  background-image: url(../img/icon-reset-disabled.svg);
}
button.disabled {
  color: var(--color-text-dark);
  background-color: var(--btn-disabled-background);
  pointer-events: none;
}

footer {
  margin-top: 60px;
  margin-bottom: 103px;

  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 17px;
  text-align: center;

  color: #8596bf;
}
